:root {
  /* Fonts */
  --font-default: helvetica, sans-serif;
  --font-content: roboto, sans-serif;

  /* Colors */
  --color-black: #000;
  --color-bunker: #121212;
  --color-dark-gray: #555;
  --color-white-gray: #ccc;
  --color-error-background: #f4f4f4;
  --color-white: #FFF;
  --color-error: #f00;
  --color-cookie-background: #212834;
  --color-cookie-button: #333;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../fonts/NotoSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../fonts/NotoSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../fonts/NotoSans-Regular.woff2') format('woff2');
}

h1 {
  font-size: 3.56rem;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-size: 2.83rem;
  font-family: 'Montserrat-Bold', sans-serif;
}

h3 {
  font-size: 1.67rem;
  font-family: 'Montserrat-Bold', sans-serif;
}

h4 {
  font-size: 1.33rem;
  font-family: 'NotoSans-Regular', sans-serif;
}

body {
  background: var(--color-black);
  font-family: 'NotoSans-Regular', sans-serif;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 68.6rem;
  width: 90%;
}

.link {
  display: inline-block;
  color: var(--color-white);
  text-decoration: none;
  position: relative;
  transition: 0.6s linear;
}

.link:hover {
  color: var(--color-dark-gray);
}

.link::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--color-white);
  width: 110%;
  height: 1px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.6s linear;
}

.secondCaption {
  font-size: 2.83rem;
}

.thirdCaption {
  font-size: 1.94rem;
  font-family: 'Montserrat-Bold', sans-serif;
}

.header {
  flex-direction: row;
  margin-top: 1.37rem;
  max-width: 70.78rem;
  gap: 6.1rem;
}

.spot {
  position: absolute;
  width: 1000px;
  height: 900px;
  right: 0;
  top: 0;
}

.small-spot img {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.mission-and-vision .small-spot img {
  width: 15.83rem;
  height: 15.83rem;
  right: 10%;
  bottom: 40%;
}

.header__spot {
  position: absolute;
  width: 422.63px;
  height: 613.03px;
  right: 150px;
  top: 0px;
  background: rgba(250, 0, 255, 0.25);
  filter: blur(125px);
  transform: rotate(101deg);
}

.logo-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
  transition: 0.6s linear;
}

.logo-group:hover {
  -webkit-filter: invert(15%);
  cursor: pointer;
}

.header_link {
  font-family: 'NotoSans-Medium', sans-serif;
}

.header_link.link::after {
  top: 80%;
}

.notab__image {
  width: 5.33rem;
  height: 1.38rem;
  padding-top: 0.5rem;
}

.login-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  margin-top: 0.34rem;
  font-family: 'NotoSans-Medium' sans-serif;
  gap: 0.7rem;
  transition: 0.6s linear;
}

.login-group:hover {
  -webkit-filter: invert(35%);
}

.login__icon {
  width: 1, 44rem;
  height: 1.39rem;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.start-component {
  margin-top: 1.75rem;
}

.start__presentation-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: start;
  justify-content: space-between;
}

.presentation__info {
  margin-top: 5.94rem;
}

.info__title {
  line-height: 3.89rem;
  font-family: 'Montserrat-Bold', sans-serif !important;
}

.presentation__info__description {
  display: flex;
  flex-direction: row;
  align-items: end;
  position: relative;
  margin-top: 5rem;
}

.info__description_picture {
  display: block;
}

.picture__stick {
  max-width: 4rem;
  width: 100%;
  height: auto;
}

.info__description {
  font-size: 1.11rem;
  padding: 0 0 0.5rem 1.7rem;
  position: relative;
  max-width: 22.2rem;
  width: 100%;
  font-family: 'NotoSans-Regular', sans-serif;
}

.blue-spot {
  position: absolute;
  left: -5rem;
  top: -2rem;
  width: 16.67rem;
  height: 16.67rem;
  background-repeat: no-repeat;
}

.container-spot {
  position: relative;
}

.presentation__mockup_picture {
  margin-top: -1rem;
  display: flex;
  position: relative;
  border-radius: 70px;
  margin-right: 4.6rem;
  box-shadow: -10px -10px 100px rgba(256, 256, 256, 0.3);
}

.presentation__mockup__phone {
  max-width: 18.5rem;
  width: 100%;
  height: auto;
}

.start__download-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 4.5rem;
  gap: 1rem;
}

.download__buttons {
  display: flex;
  flex-direction: row;
  gap: 1.56rem;
  margin-right: 4.3vw;
  max-width: 20.89rem;
  width: 100%;
}

.download__button {
  max-width: 10.55rem;
  width: 100%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border: 0;
  transition: 0.6s linear;
}

.download__button__img {
  position: relative;
  max-width: 10.55rem;
  width: 100%;
}

.download__button:hover {
  -webkit-filter: invert(35%);
}

.appStore {
  max-width: 9.05rem;
  width: 100%;
  height: auto;
}

.googlePlay {
  max-width: 10.22rem;
  width: 100%;
  height: auto;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.partners__join {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88.6%;
  gap: 1rem;
}

.join__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 24.39rem;
  width: 100%;
  height: 17.13rem;
  /* height: 100%; */
  border: 2px solid var(--color-white);
  border-radius: 1.16rem;
  letter-spacing: -0.05rem;
  padding: 0 0.5rem 0 3.7vw;
  gap: 1.67rem;
}

.join__block h3 {
  max-width: 22rem;
  width: 100%;
}

.join__block-link {
  font-size: 1.33rem;
  font-family: 'NotoSans-Regular', sans-serif;
}

.join__block-link.link::after {
  width: 105%;
}

.partners__vision {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 13.11rem;
}

.vision__mockup_picture {
  margin-top: -1rem;
  display: flex;
  position: absolute;
  max-height: 27.67rem;
  border-radius: 90px;
  right: 48%;
  margin-top: 0.5rem;
  box-shadow: -10px -10px 100px rgba(256, 256, 256, 0.3);
}

.vision__mockup__phone {
  width: auto;
  height: 27.68rem;
}

.vision__info {
  z-index: 100;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 22.5vw;
  padding-right: 13.7vw;
  gap: 1.3rem;
}

.mission-and-vision {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  position: relative;
  justify-content: end;
  margin-top: 13rem;
  gap: 3vw;
}

.id-scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 32.8vw;
  background-image: url('../images/backgrounds/id-scanner.png');
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 32.7vw;
}

.id-scanner__container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  max-width: 68.6rem;
  width: 90%;
}

.id-scanner__pictures {
  display: flex;
  flex-direction: row;
  gap: 2.78rem;
}

.id-scanner .vision__info {
  padding: 0 4.3rem 5.6vw 0;
  width: 17.66rem;
}

.diagrams__container {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 69.2rem;
  width: 90%;
  margin-top: 13.7vw;
}

.diagrams__container .small-spot img {
  width: 38.89rem;
  height: 38.89rem;
  left: -8%;
  bottom: 15%;
}

.diagrams__container .vision__info {
  padding-right: 1rem;
  padding-top: 6vw;
  width: 60vw;
  gap: 1.9rem;
}

.diagrams__container .vision__info p {
  width: 22rem;
}

.diagrams__pictures {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  position: relative;
  align-items: end;
}

.diagram__picture {
  display: flex;
  position: relative;
}

.diagram__picture img {
  max-width: 100%;
  width: 100%;
}

.diagram__picture__pic23 {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: 1.7rem 7.2vw 0 0;
  gap: 5vw;
}

.diagram__picture__pic45 {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: -7.1rem 19.4vw 0 0;
  gap: 5vw;
}

.diagram__picture__pic67 {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin: -0.8rem 1.5vw 0 0;
  gap: 3vw;
}

.pic1 img {
  max-width: 14rem;
  margin-right: 11vw;
}

.pic2 img {
  max-width: 13rem;
}

.pic3 img {
  max-width: 10.11rem;
}

.pic4 img {
  max-width: 10.68rem;
}

.pic5 img {
  z-index: 200;
  margin-top: 2.5rem;
  max-width: 10.79rem;
}

.pic6 img {
  z-index: 100;
  max-width: 10.72rem;
}

.pic7 img {
  margin-top: 4rem;
  max-width: 15.61rem;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 9.3rem;
}

.order__background {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 0.61rem;
}

.order__background_picture {
  height: 37.89rem;
}

.background-dj {
  width: 54%;
  background: linear-gradient(179.83deg, #000000 2.1%, rgba(0, 0, 0, 0) 56.76%, #000000 90%), url(../images/backgrounds/background-dj.png);
  background-size: 100%;
  background-position: left;
  background-repeat: no-repeat;
}

.background-cocktail {
  width: 46%;
  background-image: url(../images/backgrounds/background-cocktail.png);
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
}

.nightlife {
  position: absolute;
  top: 1.2%;
  right: 7.1%
}

.nightlife img {
  position: relative;
  width: 7.67rem;
}

.qr-code__order {
  display: flex;
  flex-direction: row;
  max-width: 73.78rem;
  width: 92%;
  justify-content: center;
  position: relative;
  margin-top: -24rem;
  gap: 1.1vw;
}

.qr-code__order__info-and-downloads {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 20.89rem;
  width: 100%;
  margin-left: 8.3vw;
  margin-top: 22vw;
  gap: 3.4rem;
}

.qr-code__order .vision__info {
  display: flex;
  padding: 0;
}

.qr-code__order .vision__info p {
  max-width: 20.5vw;
  width: 100%;
}

.qr-code__order__info-and-downloads .download__buttons {
  margin: 0;
}

.order__pictures {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  width: 100%;
  /* gap: 1rem; */
}

.order__img {
  max-width: 18.5rem;
  min-width: 8rem;
  width: 100%;
  height: auto;
}

.order__picture1 {
  position: relative;
  margin-right: 5.8vw;
}

.order__picture2 {
  position: relative;
  margin-top: 23.7vw;
}

.qr-code__generate {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 7.9rem;
}

.qr-code__generate__notab {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url(../images/backgrounds/background-notab.png);
  background-repeat: round;
  height: 27.5rem;
}

.qr-code__generate__spot {
  max-width: 57.28rem;
  width: 100%;
  height: auto;
}

.qr-code__generate__scan {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: -67.5vw;
  margin-left: 11.4vw;
}

.qr-code__generate__scan__picture-phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 18.5rem;
  width: 100%;
  height: auto;
}

.qr-code__generate__scan__img-phone {
  max-width: 23.2vw;
  min-width: 12rem;
  width: 100%;
  height: auto;
}

.scan__picture-arrow {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 6vw;
  left: 3.5vw;
}

.qr-code__generate__scan__info {
  position: relative;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.16rem;
  top: 0.8vw;
  left: 5.5vw;
}

.qr-code__generate__info {
  display: flex;
  flex-direction: row;
  max-width: 68.6rem;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.3rem;
}

.qr-code__generate__info__title {
  max-width: 21.11rem;
  width: 100%;
}

.qr-code__generate__info__main {
  max-width: 16rem;
  width: 100%;
}

.advantages__notab {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 25.6rem 0 10rem 0;
  width: 100%;
}

.advantages__notab .small-spot img {
  width: 38.89rem;
  height: 38.89rem;
  right: 0%;
  bottom: 45%;
}

.advantages__notab__easier_ordering {
  display: flex;
  flex-direction: column;
  align-self: end;
  width: 100%;
  max-width: 23.44rem;
  gap: 1.3rem;
  margin-right: 11.2vw;
}

.advantages__notab__easier_ordering p {
  margin-left: 0.3rem;
}

.advantages__notab__iphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 60.27%;
  width: 100%;
  height: 72.3vw;
  background-image: url(../images/phones/iphone.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 3.1rem;
}

.advantages__notab__iphone div {
  width: 100%;
  border: 0.76px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.56rem;
  padding: 1.11rem;
  font-family: 'Roboto-Medium', sans-serif;
  background-color: var(--color-black);
  font-size: 1.27rem;
}

.advantage__first {
  max-width: 12.83rem;
  margin: 14.3vw 0 0 23.2vw;
}

.advantage__second {
  max-width: 13.4rem;
  margin: 3.9vw 44.5vw 0 0;
}

.advantage__third {
  max-width: 8rem;
  margin: 12.6vw 0 0 48.4vw;
}

.advantage__four {
  max-width: 7.9rem;
  margin: 0 21vw 0 0;
}

.notab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 61.11rem;
  background-image: url(../images/backgrounds/background-notab2.png);
  background-repeat: round;
}

.advantages__notab {
  margin: 15rem 0 10rem 0;
}

.notab img {
  position: relative;
  max-width: 47.67rem;
  width: 100%;
  height: auto;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 45.44rem;
  width: 80%;
}

.registration .small-spot__first {
  width: 30rem;
  height: 30rem;
  right: 45%;
  bottom: 75%;
}

.registration .small-spot__second {
  max-width: 30rem;
  width: 100%;
  height: auto;
  left: 50vw;
  top: 40%;
}


.registration .vision__info {
  padding: 0;
  text-align: center;
  width: 32.22rem;
}

form div {
  display: flex;
  flex-direction: row;
  gap: 1.33rem;
}

.registration-form {
  display: flex;
  flex-direction: column;
  max-width: 758px;
  width: 100%;
  margin-top: 4.56rem;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  gap: 1.33rem;
}

.form__input {
  z-index: 100;
  border: none;
  box-sizing: border-box;
  background: #F7F9FC;
  border-radius: 0.56rem;
  width: 100%;
  padding: 12px;
  height: 3.28rem;
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333;
}

.form__input::placeholder {
  color: #BCBDBF;
  font-size: 16px;
}

.form__input:focus {
  background-color: var(--color-white-gray);
}

.input4 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  height: 161px;
}

.error {
  background-color: var(--color-error-background);
  border: 2px solid var(--color-error);
}

.form__button {
  width: 22.22rem;
  height: 4.44rem;
  margin-top: 3.33rem;
  background-color: var(--color-black);
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.33rem;
  text-align: center;
  border: 1px solid var(--color-white);
  border-radius: 0.56rem;
  color: var(--color-white);
  transition: 0.6s linear;
}

.form__button:hover {
  cursor: pointer;
  background-color: var(--color-bunker);
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 1.83rem;
}

.download-app .download__buttons {
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 8.33rem 0 4.72rem 0;
  font-family: "NotoSans-Bold", sans-serif;
}

footer .small-spot img {
  z-index: 1;
  position: absolute;
  width: 30vw;
  height: 30vw;
  left: 0;
  bottom: -4.72rem;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

footer a {
  color: var(--color-white);
  text-decoration: none;
  position: relative;
}

.footer__column {
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.footer__column-first {
  gap: 1rem;
}

.footer__column-second {
  gap: 1.39rem;
}

.footer__column div {
  gap: 0.4rem;
}

.footer__link {
  transition: 0.6s linear;
}

.footer__link:hover {
  color: var(--color-dark-gray);
}


@keyframes showBottom {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}

@keyframes closeBottom {
  from {
    bottom: 0;
  }

  to {
    bottom: -100%;
  }
}

.cookie {
  display: none;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  background-color: var(--color-cookie-background);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  animation: showBottom 1s;
  gap: 2rem;
}

.cookie.hide {
  animation: closeBottom 2s;
}

.cookie.show {
  display: flex;
}

.cookie p {
  align-self: center;
  margin-left: 10rem;
  font-size: 0.78rem;
}

.cookie button {
  position: relative;
  background-color: var(--color-cookie-button);
  border-radius: 0.33rem;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  margin-right: 8rem;
  max-width: 7rem;
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  transition: 0.6s linear;
}

.cookie button:hover {
  -webkit-filter: invert(5%);
}

@media (max-width: 1024px) {

  * {
    font-size: 16px;
  }

  .diagram__picture__pic23 {
    margin: 1.4rem 6.2vw 0 0;
    gap: 4vw;
  }

  .diagram__picture__pic45 {
    margin: -6.1rem 16.4vw 0 0;
    gap: 4vw;
  }

  .diagram__picture__pic67 {
    margin: -0.4rem 1vw 0 0;
    gap: 2.5vw;
  }

  .pic1 img {
    max-width: 12rem;
    margin-right: 9vw;
  }

  .pic2 img {
    max-width: 11rem;
  }

  .pic3 img {
    max-width: 8rem;
  }

  .pic4 img {
    max-width: 9rem;
  }

  .pic5 img {
    z-index: 200;
    margin-top: 2.1rem;
    max-width: 9rem;
  }

  .pic6 img {
    z-index: 100;
    max-width: 9rem;
  }

  .pic7 img {
    margin-top: 3rem;
    max-width: 13rem;
  }

  .nightlife {
    top: 15.2%;
  }

  .nightlife img {
    width: 6.67rem;
  }
}

@media (max-width: 768px) {
  * {
    font-size: 12px;
  }

  h1 {
    font-size: 2.86rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  a {
    font-size: 2.86rem;
  }

  .header {
    gap: 3.1rem;
  }

  .login-group a {
    font-size: 1.3rem;
  }

  .header_link.link::after {
    top: 90%;
  }

  .presentation__mockup__phone {
    max-width: 16.5rem;
    min-width: 10rem;
  }

  .thirdCaption {
    font-size: 1.5rem;
  }

  .download__button {
    max-width: 8rem;
  }

  .download__buttons {
    margin-right: 1rem;
  }

  .join__block {
    height: 13.12rem;
  }

  .join__block-link {
    font-size: 0.9rem;
  }

  .mission-and-vision {
    gap: 3rem;
  }

  .vision__mockup_picture {
    right: 50vw;
    margin-right: 0;
  }

  .vision__mockup__phone {
    height: 20rem;
  }

  .vision__info {
    padding-right: 5vw;
    width: 30vw;
  }

  .presentation__mockup__phone {
    min-width: 8rem;
  }

  .diagram__picture__pic23 {
    margin: 1rem 5vw 0 0;
    gap: 2vw;
  }

  .diagram__picture__pic45 {
    margin: -4.1rem 13vw 0 0;
    gap: 2vw;
  }

  .diagram__picture__pic67 {
    margin: -0.2rem 0.5vw 0 0;
    gap: 1.3vw;
  }

  .pic1 img {
    max-width: 9rem;
    margin-right: 7vw;
  }

  .pic2 img {
    max-width: 9rem;
  }

  .pic3 img {
    max-width: 6rem;
  }

  .pic4 img {
    max-width: 7rem;
  }

  .pic5 img {
    z-index: 200;
    margin-top: 1.5rem;
    max-width: 7rem;
  }

  .pic6 img {
    z-index: 100;
    max-width: 7rem;
  }

  .pic7 img {
    margin-top: 2.5rem;
    max-width: 10rem;
  }

  .advantages__notab__iphone div {
    font-size: 0.9rem;
  }

  .advantage__first {
    max-width: 9rem;
  }

  .advantage__second {
    max-width: 9rem;
  }

  .advantage__third {
    max-width: 6rem;
  }

  .advantage__four {
    max-width: 6rem;
  }

  .diagrams__container .small-spot img {
    width: 30vw;
    height: 30vw;
  }

  .advantages__notab .small-spot img {
    width: 30vw;
    height: 30vw;
  }

  .registration .vision__info {
    width: 18.22rem;
  }

  .footer__link {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  * {
    font-size: 14px;
  }

  h1 {
    font-size: 2.46rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .start-component {
    width: 100%;
    overflow: hidden;
  }

  .start__presentation-group {
    padding-left: 2rem;
  }

  .info__title {
    width: 65vw;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo__image {
    position: relative;
    width: 3.71rem;
    height: 3.71rem;
  }

  .logo__text {
    position: relative;
    width: 3.29rem;
    height: 0.86rem;
  }

  .login-group {
    gap: 0;
    margin-top: 0;
  }

  .login-group a picture {
    width: 0;
    height: 0;
  }

  .login__icon {
    width: 0;
    height: 0;
  }

  .link::after {
    top: 120%;
  }

  .presentation__info {
    margin: 0;
  }

  .presentation__info__description {
    margin-top: 2rem;
  }

  .picture__stick {
    width: 0;
  }

  .info__description {
    max-width: 17.14rem;
    width: 100%;
    padding: 0;
  }

  .start__download-group {
    flex-direction: column;
    align-items: center;
  }

  .download__buttons {
    flex-direction: column;
    align-items: center;
  }

  .download__button {
    max-width: 12rem;
  }

  .partners__join {
    flex-direction: column;
  }

  .join__block {
    width: auto;
  }

  .join__block-link {
    font-size: 1.2rem;
  }

  .mission-and-vision {
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    gap: 0;
  }

  .mission-and-vision .vision__info {
    width: 90%;
    order: 1;
    padding: 0;
  }

  .vision__mockup_picture {
    position: relative;
    transform: rotate(-90deg);
    order: 2;
    margin: 15rem 0 10rem 0;
    right: 0;
  }

  .vision__mockup__phone {
    height: 15rem;
  }

  .mission-and-vision .small-spot img {
    right: 60vw;
    bottom: 80%;
  }

  .id-scanner__container {
    flex-direction: column;
    align-items: center;
  }

  .id-scanner__pictures {
    order: 2;
    flex-direction: column;
  }

  .id-scanner .vision__info {
    order: 1;
    padding: 10rem 0 5rem 0;
    width: 90%;
  }

  .presentation__mockup_picture {
    margin: 4rem 0 0 0;
  }

  .presentation__mockup__phone {
    max-width: 20.5rem;
    min-width: 12rem;
  }

  .diagrams__container {
    flex-direction: column;
  }

  .diagrams__pictures {
    align-items: center;
    margin-top: 3rem;
    height: 25rem;
  }

  .pic1 img {
    max-width: 12rem;
  }

  .pic2 img {
    max-width: 12rem;
  }

  .pic3 img {
    max-width: 9rem;
  }

  .pic4 img {
    max-width: 11rem;
  }

  .pic5 img {
    max-width: 11rem;
  }

  .pic6 img {
    max-width: 11rem;
  }

  .pic7 img {
    max-width: 15rem;
  }

  .diagrams__container .vision__info p {
    width: 20rem;
  }

  .order {
    margin: 5rem 0 15rem 0;
  }

  .order__background {
    flex-direction: column;
    gap: 5rem;
  }

  .background-dj {
    width: 100%;
  }

  .background-cocktail {
    width: 100%;
  }

  .nightlife {
    top: 55rem;
    right: 65vw;
  }

  .qr-code__order {
    flex-direction: column;
    gap: 16rem;
  }

  .qr-code__order__info-and-downloads {
    margin: -30rem 0 0 0;
    align-items: center;
    max-width: 100%;
  }

  .qr-code__order__info-and-downloads .vision__info {
    width: 100%;
  }

  .qr-code__order__info-and-downloads .vision__info p {
    max-width: none;
  }

  .qr-code__order__info-and-downloads .download__button img {
    max-width: 12rem;
  }

  .order__pictures {
    flex-direction: column;
    align-items: center;
  }

  .order__picture1 {
    margin-right: 0;
  }

  .qr-code__generate__notab {
    height: 14rem;
  }

  .qr-code__generate__picture {
    position: absolute;
    order: 2;
  }

  .qr-code__generate__info {
    margin-bottom: 45rem;
    order: 1;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    margin-top: 0;
  }

  .qr-code__generate__info__title {
    max-width: 28rem;
  }

  .qr-code__generate__scan {
    order: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 20vw;
    margin-left: 0;
  }

  .scan__picture-arrow {
    left: 18vw;
  }

  .qr-code__generate__scan__picture-arrow {
    position: relative;
    transform: rotate(30deg);
    left: 3rem;
    bottom: 1rem;
    width: 6rem;
  }
  
  .qr-code__generate__scan__img-phone {
    max-width: 12rem;
    min-width: 8rem;
  }

  .advantages__notab__easier_ordering {
    z-index: 2;
    margin-right: 0;
    max-width: 21.44rem;
    align-self: center;
  }

  .advantages__notab .small-spot img {
    z-index: 1;
    bottom: 0;
  }

  .advantages__notab__iphone {
    z-index: 2;
  }

  .notab {
    width: 0;
    height: 0;
  }

  .registration .vision__info {
    width: 20rem;
  }

  form div {
    flex-direction: column;
  }

  .form__button {
    z-index: 2;
  }

  footer {
    margin: 8.33rem 0 0rem 0;
  }

  /* footer.small-spot {
    position: absolute;
    left: 0;
    bottom: -2rem;
  } */

  footer .container {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .footer__column-first {
    display: flex;
    order: 2;
    align-items: center;
  }

  .footer__column-first div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__column-second {
    order: 1;
  }

  .footer__link {
    font-size: 1.5rem;
  }

  footer .small-spot img {
    bottom: 0;
  }

  .cookie {
    height: 6rem;
  }

  .cookie p {
    margin-left: 1rem;
  }

  .cookie button {
    margin-right: 1rem;
  }
}